{
    "parser": "babel-eslint",
    "extends": ["airbnb", "plugin:react/recommended"],
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "rules": {
        "arrow-body-style": 0,
        "react/jsx-no-bind": 0,
        "react/jsx-key": 0,
        "react/no-multi-comp": 0,
        "no-return-await": "off",
        "indent": ["error", 4],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "arrow-parens": ["error", "as-needed"],
        "comma-dangle": ["error", "never"],
        "no-use-before-define": ["error", { "functions": false, "classes": false, "variables": true }],
        "object-curly-newline": ["error", { "multiline": true, "consistent": true }],
        "no-param-reassign": ["error", { "props": false }],
        "strict": [0, "global"],
        "max-len": ["error", 120],
        // Не нужно проверять аргументы функций
        "no-unused-vars": ["error", {"args": "none"}],
        // Все равно этому никто не следует :)
        "no-underscore-dangle": "off"
    }
}
